<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Reddit Daily</title>
    <style type="text/css">
    </style>
</head>
<body>
<h1>Reddit Daily</h1>
{{range $srName, $sr := . }}
    <h2>{{ $srName }}</h2>
    <ul>
        {{ range $submission := $sr }}
        <li style="margin-bottom: 10px;">
            <a href="{{ $submission.URL }}">{{ $submission.Title }}</a> <a style="text-decoration: none; color: #777;" href="https://reddit.com{{ $submission.Permalink }}">({{ $submission.Score }}/{{ $submission.NumComments}})</a>
        </li>
        {{ end }}
    </ul>
{{ end }}
</body>
</html>